@media (min-width: 1200px) {    /*	// Тут стили чисто для больших экранов*/


    .header__calc-text_none {
        display: inline;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {
    /*	// Тут стили под экраны ноутбуков и перевернутых горизонтально планшетов*/
    .container {
        width: 100% !important;
    }

    /* header */
    .header__logo img {
        width: 181px;
        height: 116px;
    }


    .header__calc-text_none {
        display: inline;
    }

    .header__column_adress {
        flex: 0 0 30%;
    }

    .header__column_tel {
        flex: 0 0 19%;
    }

    .header__logo {
        margin: 8px 25px 0 0;
    }

    .header__content-left {
        height: 149px;
    }

    .header {
        height: 150px;
    }

    .header__top-text-column {
        margin-top: 48px;
    }

    .header__calc-online {
        font-size: 16px;
        margin-top: 48px;
        line-height: 56px;
    }

    .header__top-text-column,
    .header__text {
        font-size: 14px;
    }

    .header__top-text-column {
        margin-left: 0;
    }

    .header__text {
        margin-left: 16px;
    }

    .content__col-3_text {
        max-width: 26%;
        flex: 0 0 27%;
    }

    .content__radio {
        max-width: 31.333333%;
    }

    /* links */
    .links {
        height: 60px;
    }

    .links menu li a {
        border-top: 6px solid #fff;
        line-height: 46px;
    }

    /* content */
    .content {
        margin: 78px 0 78px 0;
    }

    .content__cost {
        font-size: 30px;
        margin-top: 30px;
    }

    .content__cost-col {
        margin-top: -2px;
    }

    .content__calc-zag {
        margin: 40px 0 22px 0;
        font-size: 32px;
    }

    .content__input-coll {
        float: left;
        margin: 0 17px 0 0;
    }

    .content__agreement label {
        max-width: 94%;
    }

    .content__right-column_first-column {
        max-width: 35.333333%;
    }

    .content__agreement input[type="checkbox"]:checked + label:before,
    .content__agreement input[type="checkbox"]:not(:checked) + label:before {
        top: 5px;
    }

    .content__agreement input[type="checkbox"]:checked + label:after,
    .content__agreement input[type="checkbox"]:not(:checked) + label:after {
        left: 2px;
        top: 8px;
    }

    /* footer */
    .footer__col_1-element {
        max-width: 14%;
        margin-left: 15px;
        padding: 0;
    }

    .footer__col_2-element {
        max-width: 22%;
    }

    .footer__col_3-element {
        flex: 1 0 18%;
        max-width: 20%;
    }

    .footer__col_5-element {
        max-width: 25%;
    }

    .footer__down .footer__col_5-element {
        flex: 1 0 35%;
        max-width: 33%;
    }

    .footer__down .footer__col_1-element {
        margin-left: 10px;
    }

    .footer__down .footer__col_5-element li {
        margin: 15px 0 15px 0;
    }

    .footer__down .footer__col_5-element li {
        margin: 0;
    }

    .footer__col_5-element li p,
    .footer__col_5-element li a {
        font-size: 14px;
    }

    .footer__top {
        padding-bottom: 15px;
    }

    .footer__down .footer__create-site {
        text-align: right;
    }

    .footer__down .footer__create-site a {
        padding-right: 15px;
    }
}

@media (max-width: 991px) {

    /*	// Тут стили для вертикального расположения планшетов и всех телефонов*/
    .container {
        max-width: 100%;
        padding-right: 0;
        padding-left: 0;
    }

    /* footer */
    .links {
        height: 60px;
    }

    .links menu li a {
        border-top: 6px solid #fff;
        line-height: 46px;
    }


    /* content */
    .content {
        margin: 55px 0 55px 0;
    }

    .content__cost {
        font-size: 22.5px;
        margin-top: 20px;
    }

    .content__container_left {
        margin: 0;
    }

    .content__col-3_text {
        max-width: 31%;
    }

    .content__radio {
        max-width: 32.333333%;
    }

    .content__right-column_first-column {
        max-width: 36%;
    }

    .content__cost-col {
        margin-top: -15px;
    }

    .content__container_left label {
        font-size: 16px;
    }

    .content__city,
    .content__button,
    .content__main_date-birth-block,
    .content__bumber-block {
        width: 100%;
    }

    .nice-select {
        font-size: 14px;
        width: 100%;
    }

    .content__city,
    .content__main_date-birth-block,
    .content__bumber-block {
        font-size: 14px;
    }

    .content__button {
        font-size: 16px;
        padding-top: 5px;
        margin-top: 20px;
    }

    .content__agreement label {
        font-size: 13px;
    }

    .ui-datepicker {
        width: 14.05em;
    }

    .content__input-coll {
        float: left;
        margin: 0 17px 0 13px;
        font-size: 16px;
        width: 50px;
        height: 30px;
        padding-top: 2px;
    }

    .content__agreement label {
        max-width: 94%;
    }

    .content__agreement input[type="checkbox"]:checked + label:before,
    .content__agreement input[type="checkbox"]:not(:checked) + label:before {
        top: 5px;
    }

    .content__agreement input[type="checkbox"]:checked + label:after,
    .content__agreement input[type="checkbox"]:not(:checked) + label:after {
        left: 2px;
        top: 8px;
    }

    .content__text-strong,
    .content__column_right .row {
        font-size: 16px;
        margin: 0 0 10px 0;
    }

    .content__text-strong_colour,
    .content__column_right menu li {
        margin-left: 0;
    }

    .content__things {
        margin-left: 19%;
    }

    .content__container_input {
        margin-top: 33px;
    }

    /* footer */
    .footer .container {
        padding: 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    /*	// Тут стили для вертикального расположения планшетов */

    /* header */
    .header__content-left {
        height: 110px;
        flex: 0 0 18%;
    }

    .header__logo img {
        width: 113px;
        height: 69px;
    }

    .header__logo {
        margin: 26.5px auto;
    }

    .header {
        height: 111px;
    }

    .header__top-text-column {
        margin-top: 33px;
        margin-left: -13px;
    }

    .header__calc-online {
        font-size: 18px;
        margin-top: 28px;
        line-height: 56px;
    }

    .header__calc-text span {
        display: none;
    }

    .header__top-text-column,
    .header__text {
        font-size: 13.6px;
    }

    .header__text {
        margin-left: 1px;
    }

    .header__column_tel {
        flex: 0 0 20%;
    }

    .header__column_calc {
        flex: 0 0 27%;
        max-width: 27%;
    }

    .header__column_adress {
        flex: 0 0 34%;
    }

    /* footer */
    .footer__create-site {
        margin: 0;
    }

    .footer__col_1-element {
        margin-left: 10px;
        max-width: 15%;
    }

    .footer__down .footer__col_1-element {
        margin-left: 7px;
        max-width: 32%;
    }

    .footer__down .footer__col_5-element li {
        margin: 0;
    }

    .footer__col_5-element li p,
    .footer__col_5-element li a {
        font-size: 14px;
    }

    .footer__top {
        padding-bottom: 15px;
    }

    .footer__down .footer__create-site {
        text-align: right;
    }

    .footer__down .footer__create-site a {
        padding-right: 10px;
    }

}

@media (max-width: 768px) {

    /*	// Тут стили для вертикального расположения планшетов и всех телефонов*/

    /* header */
    .header {
        height: 60px;
        position: fixed;
        z-index: 1;
        top: 0;
        background: linear-gradient(to right, white, #72bbe1, #005FA3);
        box-shadow: 0px 6px 6px rgba(13, 196, 255, 0.25);
    }

    .header__logo:hover {
        transform: none;
    }

    .header__calc-text_none {
        display: inline;
    }

    .header__logo img {
        width: 99px;
        height: 59px;
    }

    .header .row {
        position: relative;
    }

    .header__logo {
        position: absolute;
        top: 0;
        left: 10px;
        margin: 0;
        z-index: 4;
    }

    .header__content-left::before {
        background: #fff;
        height: 59px;
        width: 20%;
        left: 0;
    }

    .header__calc-online {
        line-height: 55px;
    }

    .header__column_adress,
    .header__column_tel,
    .header__column_calc,
    .links {
        display: none;
    }

    .header__nav-container {
        display: block;
    }

    /* content */
    .content__column_left {
        flex: none;
        max-width: 100%;
        text-align: center;
        box-shadow: 23px 12px 40px rgba(24, 112, 163, 0.25), 12px 15px 40px rgba(0, 95, 163, 0.25)
    }

    .content__column_right {
        flex: none;
        max-width: 100%;
    }

    .content {
        margin: 111px 0 55px 0;
    }

    .content__cost {
        font-size: 28px;
        margin-top: 20px;
        text-align: center;
    }

    .content__col-3_text {
        max-width: 24%;
    }

    .content__radio {
        flex: 0 0 27%;
        max-width: 31%;
    }

    .content__cost-col {
        margin-top: -15px;
        margin: 0 auto 5px;
        /*margin-bottom: 5px;*/
    }

    .content__container_left {
        width: 80%;
        margin: 0 auto;
    }

    .content__city,
    .content__button,
    .content__main_date-birth-block,
    .content__bumber-block {
        width: 100%;
        margin: 0 auto;
    }

    .nice-select {
        text-align: center !important;
    }

    .content__date-birth,
    .content__tell-number {
        padding: 0;
        text-align: center;
    }

    .content__button {
        padding-top: 0;
        margin-top: 20px;
    }

    .content__agreement label {
        font-size: 13px;
    }

    .content__agreement_checkbox {
        margin-top: -12px;
    }

    .nice-select .option {
        text-align: center !important;
    }

    .ui-datepicker {
        width: 52%;
        margin: -110px;
        left: calc(39vw) !important;
    }

    .content__calc-zag {
        margin: 35px 0 22px 0;
        font-size: 24px;
    }

    .content__input-coll {
        margin: 0 13px 0 0;
    }

    .content__agreement input[type="checkbox"]:checked + label:before,
    .content__agreement input[type="checkbox"]:not(:checked) + label:before {
        top: 1px;
    }

    .content__agreement input[type="checkbox"]:checked + label:after,
    .content__agreement input[type="checkbox"]:not(:checked) + label:after {
        left: 2px;
        top: 4px;
    }

    /* footer	*/
    .footer__top {
        display: block;
        width: 70%;
        text-align: center;
        margin: 0 auto;
        padding-top: 10px;
    }

    .footer__construct {
        margin-top: 0;
    }

    .footer__col_1-element {
        margin-left: 0;
    }

    .footer__mobile-menu_wraper {
        display: block;
        width: 100%;
        flex: none;
        max-width: 100%;
        height: auto;
    }

    .footer__button-menu {
        width: 100%;
        text-align: center;
        box-sizing: border-box;
        border: 2px solid #8fa151;
        ;
        margin-bottom: 0;
        line-height: 40px;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    .footer__button-menu:hover {
        border: 2px solid #1ac4e0;
        cursor: pointer;
        border-radius: 5px;
        color: #1ac4e0;
        background: linear-gradient(to left, #2b77ad, white, #2b77ad);
    }

    .footer__mobile-menu_wraper-menuli {
        width: 100%;
        height: auto;
        display: none;
    }

    .footer__button-menu::before {
        display: block;
    }

    .footer__top li {
        width: 100%;
        padding-top: 14px;
        font-size: 16px;
    }

    .footer__create-site {
        margin: 0;
        text-align: right;
        padding-right: 15px;
    }

    .footer__down .footer__col_5-element li {
        margin: 0 0 15px 0;
    }

    .footer__down .footer__col_1-element a {
        margin: 15px 0 -10px 15px;
    }

    .footer__down .footer__col_5-element li a {
        margin: 0;
    }

    .footer__image-bird {
        margin: 33px auto 2px;
    }

    .footer li .footer__tell {
        color: #8fa151;
         !important;
    }

    .footer li .footer__tell:hover {
        color: #1ac4e0 !important;
    }
}


@media (min-width: 576px) and (max-width: 767px) {

    /*	// Тут стили для горизонтального расположения телефонов*/

}

@media (max-width: 575px) {

    /*	// Тут стили для вертикального расположения телефонов*/


    /* header */
    .header__mobile-menu {
        width: 90%;
    }

    .header__calc-online {
        line-height: 50px;
    }

    /* modal-window */
    .modal__window {
        width: 350px;
        height: 225px;
    }

    .modal__window_line1,
    .modal__window_line2 {
        width: 30px;
    }

    .modal__window_close {
        width: 30px;
        height: 32px;
        top: 8px;
        right: 8px;
    }

    .modal__window h2 {
        font-size: 28px;
        margin-top: 15px;
    }

    .modal__window_text-wrapper {
        margin: 24px 0 0 25px;
        width: 300px;
        height: 114px;
        font-size: 20px;
    }

    /* content */
    #content {
        margin: 82px 0 55px 0;
    }

    .content__cost {
        font-size: 22px;
        margin-top: 20px;
        margin-bottom: -12px;
    }

    .content__cost-col {
        margin-bottom: 5px;
    }

    .content__col-3_text {
        max-width: 48%;
        display: block;
        float: right;
    }

    .content__right-column_first-column {
        max-width: 52%;
        float: left;
        display: block;
    }

    .content__container_left {
        width: 100%;
    }

    .content__date-birth,
    .content__tell-number {
        padding-left: 0;
        text-align: center;
    }

    .content__city,
    .content__main_date-birth-block,
    .content__bumber-block {
        font-size: 14px;
    }

    .content__agreement label {
        font-size: 13px;
        max-width: 80%;
        padding-left: 30px;
    }

    .ui-datepicker {
        width: 73%;
        margin-top: -60px;
        left: calc(39vw) !important;
    }

    .content__calc-zag {
        margin: 35px 0 22px 0;
        font-size: 24px;
    }

    .content__input-coll {
        margin: 0;
    }

    .content__square {
        margin-right: 10px;
    }

    .content__agreement label {
        max-width: 80%;
    }

    .content__agreement input[type="checkbox"]:checked + label:before,
    .content__agreement input[type="checkbox"]:not(:checked) + label:before {
        top: 0px;
        left: 0px;
    }

    .content__agreement input[type="checkbox"]:checked + label:after,
    .content__agreement input[type="checkbox"]:not(:checked) + label:after {
        left: 2px;
        top: 4px;
    }

    .content__text-strong,
    .content__column_right .row {
        font-size: 16px;
    }

    .content__text-strong_colour,
    .content__column_right ul li {
        margin-left: 0;
    }

    .content__things {
        margin-left: 24%;
    }

    .content__text-strong,
    .content__column_right .row {
        flex: none;
        display: block;
    }

    .content__radio {
        max-width: 46%;
        margin: 0 auto 20px;
        display: block;
    }


    /* footer */
    .footer__top {
        width: 90%;
    }
}

@media (max-width: 370px) {
    /* ipone 4 и ему подобные */

    /* header */
    .header__mobile-menu {
        width: 100%;
        overflow: scroll;
    }

    .header__calc-text_none {
        display: none;
    }

    .header__calc-online {
        line-height: 40px;
        margin: 11px auto 15px;
    }

    .header__calc-text_none {
        display: none;
    }

    .header__mobile-menu menu:first-child {
        padding-top: 3px;
    }

    .header__mobile-menu_button {
        margin-top: 5px;
    }

    .header__mobile-menu_address address {
        margin: 8px 0 -33px 0;
    }
    
    .header__mobile-menu_address li:last-child {
        margin: -10px auto -13px;
    }

    /* modal-window */
    .modal__window {
        width: 290px;
        height: 200px;
    }

    .modal__window_line1,
    .modal__window_line2 {
        width: 25px;
    }

    .modal__window_close {
        width: 25px;
        height: 29px;
        top: 4px;
        right: 6px;
    }

    .modal__window h2 {
        font-size: 24px;
        margin-top: 19px;
    }

    .modal__window_text-wrapper {
        margin: 24px 0 0 21px;
        display: block;
        width: 240px;
        height: 114px;
        font-size: 18px;
    }

    /* content */
    .content {
        margin: 82px 0 33px 0;
        box-shadow: -4px -4px 40px rgba(0, 95, 163, 0.25), 4px 4px 40px rgba(0, 95, 163, 0.25);
    }

    .content__cost {
        font-size: 24px;
        margin-top: 15px;
        margin-bottom: -19px;
    }

    .content__col-3_text {
        max-width: 41%;
        display: block;
        float: right;
    }

    .content__right-column_first-column {
        max-width: 59%;
        float: left;
        display: block;
    }

    .content__date-birth,
    .content__tell-number {
        padding-left: 0;
        text-align: center;
    }

    .content__agreement label {
        font-size: 13px;
    }

    .ui-datepicker {
        width: 90%;
        margin-top: -65px;
    }

    .content__calc-zag {
        margin: 35px 0 22px 0;
        font-size: 24px;
    }

    .content__square {
        margin-right: 5px;
    }

    .content__agreement label {
        max-width: 76%;
    }

    .content__agreement input[type="checkbox"]:checked + label:before,
    .content__agreement input[type="checkbox"]:not(:checked) + label:before {
        top: 6px;
        left: 0px;
    }

    .content__agreement input[type="checkbox"]:checked + label:after,
    .content__agreement input[type="checkbox"]:not(:checked) + label:after {
        left: 2px;
        top: 8px;
    }

    .content__text-strong,
    .content__column_right .row {
        font-size: 16px;
    }

    .content__text-strong_colour,
    .content__column_right ul li {
        margin-left: 0;
    }

    .content__text-strong,
    .content__column_right .row {
        flex: none;
        display: block;
    }

    .content__radio {
        max-width: 58%;
        margin: 0 auto 20px;
        display: block;
    }

    /* footer */
    .footer__top {
        width: 93%;
        padding-left: 9px;
        padding-right: 9px;
    }

    .footer__mobile-menu_wraper {
        padding: 0;
    }
}
