/* начало подключения нестандартных шрифтов  */
@font-face {
    font-family: "Roboto";
    src: url("../fonts/RobotoRegular/RobotoRegular.eot");
    src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
        url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
        url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/RobotoBold/RobotoBold.eot");
    src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
        url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
        url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

/* конец подключения нестандартных шрифтов  */

/* начало свойств для общих элементов */
body {
    position: relative;
    width: 100%;
    background: #fff;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
    height: 100%;
}

.row {
    height: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.error-box {
    box-shadow: 0px 0px 10px 2px red;
}

.error-box + label::before {
    box-shadow: 0px 0px 15px 3px red;
}

/* конец свойств для общих элементов */

/* --- Начало стилей для шапки сайта --- */
.header {
    width: 100%;
    background: #005FA3;
    height: 172px;
    border-bottom: 1px solid #005FA3;
}

.header__logo {
    display: block;
    width: auto;
    height: auto;
    margin: 8px 25px 0 0;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.header__logo:hover {
    transform: rotate(-5deg);
}

.header__logo img {
    display: block;
    width: 210px;
    height: 137px;
}


.header__content-left {
    position: relative;
    z-index: 1;
    height: 171px;
    flex: 0 0 25.666667%;
    max-width: 25.666667%;
}

.header__column_tel {
    flex: 0 0 20%;
}

.header__column_adress {
    flex: 0 0 29%;
}

.header__content-left::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    background: #fff;
    z-index: -1;
    width: calc(100vw);
    height: 100%;
}

.header .row {
    color: #fff;
}

.header__number-phone a {
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.header__number-phone a:hover {
    color: #1ac4e0;
}

.header__text {
    margin-left: 21px;
}

.header__vertical i,
.header__calc-text,
.header__calc-text_none {
    display: inline;
}

.header__calc-text_none {
    display: none;
}

.header__column_adress {}


.header__calc-online {
    font-size: 20px;
    margin-top: 50px;
    width: 100%;
    background: #fff;
    border: 1px solid #005FA3;
    box-sizing: border-box;
    display: block;
    line-height: 68px;
    overflow: hidden;
}

.header__calc-online a {
    position: relative;
    display: block;
    text-align: center;
    color: #005FA3;
    width: 100%;
    height: 100%;
    text-decoration: none;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.header__calc-online a:hover {
    color: #1ac4e0;
    opacity: 0.8;
    background: linear-gradient(to top, powderblue, pink, powderblue);
}

.header__calc-online:hover {
    border: 1px solid #1ac4e0;
    border-radius: 5px;
}

.header__top-text-column {
    margin-left: 5px;
    display: block;
    margin-top: 60px;
    margin-bottom: 6px;
}

/* --- конец стилей для шапки сайта --- */


/* --- Начало стилей для меню сайта --- */
.links menu li {
    display: block;
    height: 100%;
    flex-grow: 2;
    text-align: center;
}

.links menu {
    display: flex;
    width: 100%;
    height: 100%;
}


.links menu li a {
    border-top: 7px solid #fff;
    display: block;
    color: #005FA3;
    width: 100%;
    height: 100%;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    text-decoration: none;
    line-height: 60px;
}

.links menu li a:hover {
    border-color: #0DC4FF;
    color: #1ac4e0;
}

.links {
    height: 70px;
    box-shadow: 0px 4px 4px rgba(13, 196, 255, 0.25);
    border-bottom: 1px solid #005FA3;
    box-sizing: border-box;
/*    overflow: hidden;*/
}

/* --- конец стилей для меню сайта --- */

/* --- Начало стилей для меню на устройствах с разрешением меньшн 768px --- */
/*  Кнопка  */
.header__nav-container {
    display: none;
    position: absolute;
    top: 34px;
    right: 1px;
    margin: 0;
}

/*toggle-icon*/
.toggle-icon {
    display: block;
    position: relative;
    width: 100%;
    margin: -2.2em auto 0 0.2em;
    -webkit-transition: margin 600ms;
    -moz-transition: margin 600ms;
    transition: margin 600ms;
    cursor: pointer;
}

.toggle-icon .bar {
    display: block;
    width: 2.8em;
    height: 0.2em;
    margin: 0.8em;
    border-right: 1.8em solid #fff;
    border-left: 0.6em solid #d6d6d6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-property: -webkit-transform, margin, border-right-color, box-shadow;
    -moz-transition-property: -moz-transform, margin, border-right-color, box-shadow;
    transition-property: transform, margin, border-right-color, box-shadow;
    -webkit-transition-duration: 600ms;
    -moz-transition-duration: 600ms;
    transition-duration: 600ms;
}

.toggle-icon .bar:nth-of-type(1) {
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    transition: opacity 300ms;
}

.toggle-icon .bar:nth-of-type(2) {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

/*pushed*/
.pushed .toggle-icon {
    margin: -2.8em 0 0 0.6em;
}

.pushed .bar:nth-of-type(1) {
    opacity: 0;
}

.pushed .bar:nth-of-type(2) {
    margin-left: 1.4em;
    -webkit-transform: rotate(-137deg) translateY(-1.35em);
    -moz-transform: rotate(-137deg) translateY(-1.35em);
    -ms-transform: rotate(-137deg) translateY(-1.35em);
    -o-transform: rotate(-137deg) translateY(-1.35em);
    transform: rotate(-137deg) translateY(-1.35em);
}

.pushed .bar:nth-of-type(3) {
    margin-left: 0.35em;
    -webkit-transform: rotate(-42deg);
    -moz-transform: rotate(-42deg);
    -ms-transform: rotate(-42deg);
    -o-transform: rotate(-42deg);
    transform: rotate(-42deg);
}


.pushed .toggle-icon:hover .bar:nth-of-type(2) {
    border-right-color: #e9b8b9;
    box-shadow: 0.4em 0 0.6em 0.1em rgba(205, 40, 44, 0.75);
}

.pushed .toggle-icon:hover .bar:nth-of-type(3) {
    border-right-color: #ddf1da;
    box-shadow: 0.4em 0 0.6em 0.1em rgba(83, 228, 68, 0.65);
}

/*  Мобильное меню  */
.header__mobile-menu {
    display: none;
    width: 60%;
    position: fixed;
    top: 60px;
    right: 0;
    z-index: 1;
    background: linear-gradient(to bottom right, #72bbe1, #005FA3, #72bbe1);
    text-align: center;
    border-top: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    border-bottom-left-radius: 24px;
}

.header__mobile-menu a {
    color: #fff;
    margin-top: 19px;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.header__mobile-menu menu:first-child {
    padding-top: 24px;
}

.header__mobile-menu a:hover {
    color: #1ac4e0;
}

.header__mobile-menu_address a {
    color: #8fa151;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.header__mobile-menu_address address {
    margin: 24px 0 -20px 0;
}


.header__mobile-menu_calc a:hover,
.header__mobile-menu_address a:hover {
    color: #1ac4e0;
    border-radius: 5px;
}

.header__mobile-menu_calc a {
    color: #005FA3;
    margin-top: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.header__mobile-menu_calc {
    width: 70%;
    color: #005FA3;
    margin: 20px auto 33px;
}

.header__mobile-menu_button {
    margin: 0 auto;
    display: block;
    height: 33px;
    width: 70%;
    text-align: center;
    margin-top: 30px;
    box-sizing: border-box;
    border: 2px solid #8fa151;
    padding-top: 3px;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.header__mobile-menu_button:hover {
    border: 2px solid #1ac4e0;
    cursor: pointer;
    border-radius: 5px;
    color: #1ac4e0;
    background: linear-gradient(to left, #2b77ad, white, #2b77ad);
}

.header__mobile-menu_button::before {
    content: "";
    position: absolute;
    top: 4px;
    right: 15px;
    display: block;
    width: 14px;
    height: 14px;
    box-sizing: border-box;
    border-right: 3px solid #8fa151;
    border-bottom: 3px solid #8fa151;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.header__button-menu_toggle::before {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    border-bottom: 3px solid #1ac4e0;
    border-right: 3px solid #1ac4e0;
    top: 10px;
}

.header__mobile-menu_button_toggle {
    border-radius: 5px;
    color: #fff;
    background: linear-gradient(to top left, white, #005FA3);
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.header__mobile-menu_address {
    display: none;
}

/* --- конец стилей для меню на устройствах с разрешением меньшн 768px --- */

/* --- Начало стилей для всплывающего окна после отправки формы на сервер --- */
.modal__window {
    width: 500px;
    height: 250px;
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: none;
    opacity: 0;
    z-index: 4;
}

.modal__window_close-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.modal__window_line1,
.modal__window_line2 {
    width: 40px;
    height: 4px;
    background: #005FA3;
    transform: rotate(135deg);
    position: absolute;
    top: 14px;
    left: 0;
}

.modal__window_line2 {
    transform: rotate(45deg);
}

.modal__window_line2:hover,
.modal__window_line1:hover,
.modal__window_close-wrapper:hover {
    cursor: pointer;
}

.modal__window_close {
    width: 40px;
    height: 35px;
    position: absolute;
    top: 12px;
    right: 9px;
    cursor: pointer;
    display: block;
}

.modal__window h2 {
    font-size: 38px;
    color: #005FA3;
    text-align: center;
    margin-top: 15px;
}

.modal__window_text-wrapper {
    margin: 24px 0 0 41px;
    display: block;
    width: 340px;
    height: 114px;
    font-size: 24px;
    color: #000;
}


/* Пoдлoжкa */
.modal__window_overlay {
    z-index: 3;
    position: fixed;
    background: rgba(0, 52, 89, 0.8);
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

/* --- конец стилей для всплывающего окна после отправки формы на сервер --- */


/* --- Начало стилей для основного контента сайта --- */
.content {
    margin: 111px 0 111px 0;
}

.content .container {
    background: #fff;
}

.content__container_left {
    width: 100%;
    margin-left: 3%;
}

.content__column_left {
    background: #005FA3;
}

.content__container_left label {
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin: 13px 0 -6px 0;
}

.content__cost {
    font-weight: bold;
    line-height: 59px;
    font-size: 36px;
    color: #fff;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 47px;
}

.content__line {
    display: block;
    height: auto;
    width: 100%;
    opacity: 0.3;
    border-bottom: 3px solid #FFFFFF;
    margin-top: -10px;
}

.content__cost-col {
    display: block;
    width: fit-content;
    margin-top: -2px;
}

.content__city,
.content__button,
.content__main_date-birth-block,
.content__bumber-block {
    width: 94%;
    height: 40px;
    font-size: 16px;
    color: #005FA3;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    border: 2px solid #005FA3;
    box-sizing: border-box;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.content__city:hover,
.content__button:hover,
.content__main_date-birth-block:hover,
.content__bumber-block:hover {
    border: 2px solid #1ac4e0;
    cursor: pointer;
    background: #fff;
}

.content__date-birth:hover {
    cursor: pointer;
}

.content__date-birth {
    position: relative;
}

.content__date-birth,
.content__tell-number {
    width: 100%;
    height: 100%;
    color: #005FA3;
    padding-left: 16px;
    cursor: pointer;
}

.content__main_date-birth-block {
    display: block;
    position: relative;
}

.content__main_date-birth-block i {
    display: block;
    position: absolute;
    top: 7px;
    right: 9px;
    font-size: 26px;
    width: auto;
    height: auto;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.content__main_date-birth-block i:hover {
    color: #1ac4e0;
    top: 7px;
    right: 8px;
    font-size: 27px;
}

.transform__main_date-birth-block {
    transform: rotate(360deg);
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
    transition: all 0.9s ease;
}

.content__tell-number::-webkit-input-placeholder,
.content__tell-number::-moz-placeholder,
.content__tell-number:-moz-placeholder,
.content__tell-number:-ms-input-placeholder,
.content__tell-number:focus::-webkit-input-placeholder,
.content__tell-number:focus::-webkit-input-placeholder,
.content__tell-number:focus::-moz-placeholder,
.content__tell-number:focus:-moz-placeholder,
.content__tell-number:focus:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
    color: #005FA3;
}

.content__button:hover {
    background: linear-gradient(to top, powderblue, pink, powderblue);
    color: #1ac4e0;
    border-radius: 5px;
}

.col-8 {
    box-shadow: -4px -4px 40px rgba(0, 95, 163, 0.25), 4px 4px 40px rgba(0, 95, 163, 0.25);
}

.content__calc-zag {
    text-align: center;
    font-weight: bold;
    margin: 52px 0 22px 0;
    font-size: 36px;
    letter-spacing: 0.05em;
    color: #005FA3;
}

.content__calc-zag i {
    margin-right: 10px;
}

.content__column_right ul li {
    margin: 10px 0 5px 11%;
}

.content__input-coll {
    display: block;
    width: 64px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #005FA3;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #000000;
    float: left;
    margin: 0 17px 0 10px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.content__container_input {
    display: inline-block;
    margin: 60px 0 51px 0;
}

.content__container_numbers {
    margin-bottom: 10px;
}

.content__input-coll:hover {
    border: 1px solid #16907f;
}

.content__things {
    margin-left: 29%;
    margin-bottom: 11px;
}

.content__column_right .row {
    font-weight: normal;
    line-height: 30px;
    font-size: 18px;
    list-style-type: none;
}

.content__text-strong {
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #000;
    text-transform: uppercase;
    margin: 30px 0 0 11%;
    font-weight: bold;
}

.content__text-strong_colour {
    margin-top: 30px;
    margin-bottom: 13px;
}

.content__radio label {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.content__button {
    margin-top: 15px;
    height: 50px;
    color: #005FA3;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.content__agreement {
    margin-top: 3px;
    margin-bottom: 24px;
}

.content__agreement label {
    font-size: 13px;
    color: #FFFFFF;
}

.content__agreement_checkbox {
    height: 17px;
    width: 17px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    box-sizing: border-box;
}

.content__agreement label a {
    color: #fff;
    text-decoration-line: underline;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.content__agreement label a:hover {
    color: #1ac4e0;
    text-decoration-line: none;
}


/*  чекбокс - agreement и радиокнопки - texture and colour  */
.content__agreement input[type="checkbox"]:checked + label,
.content__agreement input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

.content__agreement input[type="checkbox"]:checked + label:before,
.content__agreement input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 17px;
    height: 17px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

.content__agreement input[type="checkbox"]:checked + label:after,
.content__agreement input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    background: url(../images/Vector2.1.png) no-repeat;
}

.content__agreement input[type="checkbox"]:checked + label:after,
.content__agreement input[type="checkbox"]:not(:checked) + label:after {
    left: 2px;
    top: 3px;
    width: 13px;
    height: 11px;
    z-index: 1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.content__agreement input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

.content__agreement input[type="checkbox"]:checked + label:after {
    opacity: 1;
}


/* радиокнопки - texture and colour */
.content__checkbox-texture input[type="radio"]:checked,
.content__checkbox-texture input[type="radio"]:not(:checked),
.content__checkbox_colour input[type="radio"]:checked,
.content__checkbox_colour input[type="radio"]:not(:checked),
.content__agreement input[type="checkbox"]:checked,
.content__agreement input[type="checkbox"]:not(:checked) {
    position: absolute;
    z-index: -1;
}

.content__checkbox-texture input[type="radio"]:checked + label,
.content__checkbox-texture input[type="radio"]:not(:checked) + label,
.content__checkbox_colour input[type="radio"]:checked + label,
.content__checkbox_colour input[type="radio"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 0;
    line-height: 20px;
    cursor: pointer;
}

.content__checkbox-texture input[type="radio"]:checked + label:before,
.content__checkbox-texture input[type="radio"]:not(:checked) + label:before,
.content__checkbox_colour input[type="radio"]:checked + label:before,
.content__checkbox_colour input[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    right: 0px;
    top: -5px;
    width: 30px;
    height: 30px;
    border: 1px solid #005FA3;
    box-sizing: border-box;
    background-color: #ffffff;
}

.content__checkbox-texture input[type="radio"]:checked + label:after,
.content__checkbox-texture input[type="radio"]:not(:checked) + label:after,
.content__checkbox_colour input[type="radio"]:checked + label:after,
.content__checkbox_colour input[type="radio"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    right: 7px;
    top: 4px;
    width: 15px;
    height: 10px;
    transform: rotate(-45deg);
    background-color: #fff;
    border-bottom: 4px solid #000;
    border-left: 4px solid #000;
    border-radius: 1px;
}

.content__checkbox-texture input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
}

.content__checkbox-texture input[type="radio"]:checked + label:after {
    opacity: 1;
}

.content__checkbox_colour input[type="radio"]:checked + label:after,
.content__checkbox_colour input[type="radio"]:not(:checked) + label:after {
    right: 8px;
    top: 5px;
    width: 12px;
    height: 9px;
    border-bottom: 4px solid #828282;
    border-left: 4px solid #828282;
}

.content__checkbox_colour input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
}

.content__checkbox_colour input[type="radio"]:checked + label:after {
    opacity: 1;
}

/* --- конец стилей для основного контента сайта --- */



/* --- Начало стилей для футера сайта --- */
.footer {
    background: #005FA3;
}

.footer .container {
    padding: 0;
}

.footer__top {
    padding-bottom: 33px;
}

.footer__down {
    border-top: 2px solid #FFFFFF;
}

.footer h4 {
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 30px;
}

.footer__construct {
    margin-top: 42px;
}

.footer li a {
    font-weight: normal;
    line-height: 25px;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    transition: all 0.45s;
}

.footer li a:hover {
    color: #1ac4e0;
}

.footer__image-bird {
    display: block;
    background: url(../images/bird.png);
    height: 35px;
    width: 29px;
    margin: 42px 0 0 10%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.footer__image-bird:hover {
    transform: rotate(24deg);
}

.footer__image-bird a {
    display: block;
    width: 100%;
    height: 100%;
}

.footer__col_5-element .footer__ukon {
    font-style: italic;
    font-weight: bold;
    line-height: 20px;
    font-size: 40px;
    color: #FFFFFF;
    margin: 7px 0 0 0;
    display: inline-block;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.footer__col_5-element .footer__ukon span {
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 0px;
    display: inline-block;
}

.footer__col_5-element .footer__ukon:hover {
    color: #1ac4e0;
    text-shadow: -5px -5px 0px #EF7657;
    background: radial-gradient(#9DA8A9 1px, transparent 1px);
    background-size: 4px 4px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    z-index: 1;
}

.footer__col_5-element {
    padding-left: 6px;
    padding-right: 6px;
}

.footer__button-menu::before {
    content: "";
    position: absolute;
    top: 42px;
    right: 33px;
    display: none;
    width: 14px;
    height: 14px;
    box-sizing: border-box;
    border-right: 3px solid #8fa151;
    border-bottom: 3px solid #8fa151;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.footer__button-menu_toggle::before {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    border-bottom: 3px solid #1ac4e0;
    border-right: 3px solid #1ac4e0;
    top: 48px;
}

.header__mobile-menu_button_toggle {
    border-radius: 5px;
    background: linear-gradient(to top left, #3186b3, #72bbe1);
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.footer__col_5-element li address,
.footer__col_5-element li a {
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    font-size: 18px;
    color: #FFFFFF;
    margin: 0;
}

.footer__col_5-element li a {
    margin-top: -12px;
}

.footer__col_5-element li {
    margin-bottom: 18px;
}

.footer__down .footer__col_1-element a {
    display: inline-block;
    font-weight: bold;
    line-height: normal;
    font-size: 15px;
    color: #FFFFFF;
    margin: 20px 0 0 3%;
    text-decoration: none;
}

.footer__down .footer__col_1-element a:hover,
.footer__col_5-element li a:hover {
    color: #1ac4e0;
}

.footer__down .footer__col_5-element li a {
    display: block;
    text-decoration-line: underline;
    margin: 24px 0 24px 5%;
}

.footer__down .footer__col_5-element li a {
    font-size: 12px;
}

.footer__down .footer__col_5-element li a:hover {
    text-decoration-line: none;
    color: #1ac4e0;
}

/* --- конец стилей для футера сайта --- */
