 @media (max-width: 575px) {

     /*	// Тут стили для вертикального расположения телефонов*/
     .body__authorization {
         width: 350px;
         height: 480px;
     }

     .body__authorization p {
         font-size: 18px;
     }

     .body__authorization label {
         font-size: 18px;
     }

     .body__authorization button {
         font-size: 22px;
     }

 }

 @media (max-width: 370px) {
     /* ipone 4 и ему подобные */

     .body__authorization {
         width: 100%;
         height: 100%;
     }
     
     .body__authorization p {
         font-size: 16px;
         margin-top: 40px;
     }
     
     .body__authorization label {
         margin-left: 3.2%;
     }


     .body__authorization input,
     .body__authorization button {
         width: 94%;
     }
     
     

 }
