* {
	margin: 0;
	padding: 0;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time,
mark, audio, video, {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

#footer .col-1, #footer .col-2, #footer .col-3, #footer .col-4, #footer .col-5, #footer .col-6, #footer .col-7, #footer .col-8, #footer .col-9, #footer .col-10, #footer .col-11, #footer .col-12  {
    padding: 0 0 0 0 !important;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, body {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	/*border-collapse: collapse;*/
	border-spacing: 0;
}

img,
iframe,
video,
embed {
	max-width: 100% !important;
}

#footer a {
    text-decoration: none;
}

li {
	list-style-type: none;
}

.body__authorization_submit {
    order: none; 
    outline: none;
}