/* начало подключения нестандартных шрифтов  */
@font-face {
    font-family: "Roboto";
    src: url("../fonts/RobotoRegular/RobotoRegular.eot");
    src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
        url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
        url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/RobotoBold/RobotoBold.eot");
    src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
        url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
        url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

body {
    background: #003459;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.body__authorization {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 450px;
    height: 480px;
    background: #fff;
}

.body__authorization h2 {
    font-weight: bold;
    line-height: normal;
    font-size: 38px;
    text-align: center;
    margin-top: 34px;
    color: #005FA3;
}

.body__authorization p {
    font-size: 20px;
    color: #000;
    margin: 20px 0 0 8.9%;
}

.body__authorization label {
    display: inline-block;
    margin-left: 8.9%;
    margin-top: 17px;
    line-height: 36px;
    font-size: 22px;
    letter-spacing: 0.05em;
    color: #000;
}

.body__authorization input,
.body__authorization button {
    display: block;
    width: 82.2%;
    height: 50px;
    box-sizing: border-box;
    margin: 0 auto;
    background: #FFFFFF;
    border: 2px solid #005FA3;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding-left: 5%;
    font-size: 20px;
    color: #005FA3;
    overflow: hidden;
}

.body__authorization input:hover,
.body__authorization button:hover {
    border-color: #1ac4e0;
    border-radius: 5px;
    cursor: pointer;
}

.body__authorization button:hover {
    opacity: 0.8;
    background: linear-gradient(to top, powderblue, pink, powderblue);
}

.body__authorization input::-webkit-input-placeholder {
    font-size: 20px;
    color: #005FA3;
}

.body__authorization input::-moz-placeholder {
    font-size: 20px;
    color: #005FA3;
}

/* Firefox 19+ */
.body__authorization input:-moz-placeholder {
    font-size: 20px;
    color: #005FA3;
}

.body__authorization input:-ms-input-placeholder {
    font-size: 20px;
    color: #005FA3;
}

.body__authorization button {
    margin-top: 16px;
    padding: 0;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
}

.body__text-autorization {
    display: block;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    color: #005FA3;
    margin-top: 10px;
    text-align: center;
}

.error-box {
    box-shadow: 0px 0px 10px 2px red;
}
