/* начало подключения нестандартных шрифтов  */

@font-face {
    font-family: "Roboto";
    src: url("../fonts/RobotoLight/RobotoLight.eot");
    src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
        url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
        url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/RobotoRegular/RobotoRegular.eot");
    src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
        url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
        url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/RobotoBold/RobotoBold.eot");
    src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
        url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
        url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
/* конец подключения нестандартных шрифтов  */

/* начало свойств для общих элементов */
body {
    position: relative;
    width: 100%;
    background: #fff;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1170px;
    height: 100%;
    padding-right: 0;
    padding-left: 0;
    margin: 0 auto;
}

.row {
    height: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.error-box {
    box-shadow: 0px 0px 10px 2px red;
}

/* конец свойств для общих элементов */

/* --- Начало стилей для шапки сайта --- */
.header {
    width: 100%;
    background: #005FA3;
    height: 172px;
    border-bottom: 1px solid #005FA3;
}

.header__logo {
    display: block;
    width: auto;
    height: auto;
    margin: 8px 25px 0 0;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.header__logo:hover {
    transform: rotate(-5deg);
}

.header__logo img {
    display: block;
    width: 210px;
    height: 137px;
}


.header__content-left {
    position: relative;
    z-index: 1;
    height: 171px;
    flex: 0 0 25.666667%;
    max-width: 25.666667%;
}

.header__column_tel {
    flex: 0 0 20%;
}

.header__column_adress {
    flex: 0 0 29%;
}

.header__content-left::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    background: #fff;
    z-index: -1;
    width: calc(100vw);
    height: 100%;
}

.header .row {
    color: #fff;
}

.header__number-phone a {
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.header__number-phone a:hover {
    color: #1ac4e0;
}

.header__text {
    margin-left: 21px;
}

.header__vertical i,
.header__calc-text,
.header__calc-text_none {
    display: inline;
}

.header__calc-text_none {
    display: none;
}

.header__column_adress {}


.header__calc-online {
    font-size: 20px;
    margin-top: 50px;
    width: 100%;
    background: #fff;
    border: 1px solid #005FA3;
    box-sizing: border-box;
    display: block;
    line-height: 68px;
    overflow: hidden;
}

.header__calc-online a {
    position: relative;
    display: block;
    text-align: center;
    color: #005FA3;
    width: 100%;
    height: 100%;
    text-decoration: none;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.header__calc-online a:hover {
    color: #1ac4e0;
    opacity: 0.8;
    background: linear-gradient(to top, powderblue, pink, powderblue);
}

.header__calc-online:hover {
    border: 1px solid #1ac4e0;
    border-radius: 5px;
}

.header__top-text-column {
    margin-left: 5px;
    display: block;
    margin-top: 60px;
    margin-bottom: 6px;
}

/* --- конец стилей для шапки сайта --- */


/* --- Начало стилей для меню на устройствах с разрешением меньшн 768px --- */
/*  Кнопка  */
.header__nav-container {
    display: none;
    position: absolute;
    top: 34px;
    right: 1px;
    margin: 0;
}

/*toggle-icon*/
.toggle-icon {
    display: block;
    position: relative;
    width: 100%;
    margin: -2.2em auto 0 0.2em;
    -webkit-transition: margin 600ms;
    -moz-transition: margin 600ms;
    transition: margin 600ms;
    cursor: pointer;
}

.toggle-icon .bar {
    display: block;
    width: 2.8em;
    height: 0.2em;
    margin: 0.8em;
    border-right: 1.8em solid #fff;
    border-left: 0.6em solid #d6d6d6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-property: -webkit-transform, margin, border-right-color, box-shadow;
    -moz-transition-property: -moz-transform, margin, border-right-color, box-shadow;
    transition-property: transform, margin, border-right-color, box-shadow;
    -webkit-transition-duration: 600ms;
    -moz-transition-duration: 600ms;
    transition-duration: 600ms;
}

.toggle-icon .bar:nth-of-type(1) {
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    transition: opacity 300ms;
}

.toggle-icon .bar:nth-of-type(2) {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

/*pushed*/
.pushed .toggle-icon {
    margin: -2.8em 0 0 0.6em;
}

.pushed .bar:nth-of-type(1) {
    opacity: 0;
}

.pushed .bar:nth-of-type(2) {
    margin-left: 1.4em;
    -webkit-transform: rotate(-137deg) translateY(-1.35em);
    -moz-transform: rotate(-137deg) translateY(-1.35em);
    -ms-transform: rotate(-137deg) translateY(-1.35em);
    -o-transform: rotate(-137deg) translateY(-1.35em);
    transform: rotate(-137deg) translateY(-1.35em);
}

.pushed .bar:nth-of-type(3) {
    margin-left: 0.35em;
    -webkit-transform: rotate(-42deg);
    -moz-transform: rotate(-42deg);
    -ms-transform: rotate(-42deg);
    -o-transform: rotate(-42deg);
    transform: rotate(-42deg);
}


.pushed .toggle-icon:hover .bar:nth-of-type(2) {
    border-right-color: #e9b8b9;
    box-shadow: 0.4em 0 0.6em 0.1em rgba(205, 40, 44, 0.75);
}

.pushed .toggle-icon:hover .bar:nth-of-type(3) {
    border-right-color: #ddf1da;
    box-shadow: 0.4em 0 0.6em 0.1em rgba(83, 228, 68, 0.65);
}

/*  Мобильное меню  */
.header__mobile-menu {
    display: none;
    width: 60%;
    position: fixed;
    top: 60px;
    right: 0;
    z-index: 1;
    background: linear-gradient(to bottom right, #72bbe1, #005FA3, #72bbe1);
    text-align: center;
    border-top: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    border-bottom-left-radius: 24px;
}

.header__mobile-menu a {
    color: #fff;
    margin-top: 19px;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.header__mobile-menu menu:first-child {
    padding-top: 24px;
}

.header__mobile-menu a:hover {
    color: #1ac4e0;
}

.header__mobile-menu_address a {
    color: #8fa151;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.header__mobile-menu_address address {
    margin: 24px 0 -20px 0;
}


.header__mobile-menu_calc a:hover,
.header__mobile-menu_address a:hover {
    color: #1ac4e0;
    border-radius: 5px;
}

.header__mobile-menu_calc a {
    color: #005FA3;
    margin-top: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.header__mobile-menu_calc {
    width: 70%;
    color: #005FA3;
    margin: 20px auto 33px;
}

.header__mobile-menu_button {
    margin: 0 auto;
    display: block;
    height: 33px;
    width: 70%;
    text-align: center;
    margin-top: 30px;
    box-sizing: border-box;
    border: 2px solid #8fa151;
    padding-top: 3px;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.header__mobile-menu_button:hover {
    border: 2px solid #1ac4e0;
    cursor: pointer;
    border-radius: 5px;
    color: #1ac4e0;
    background: linear-gradient(to left, #2b77ad, white, #2b77ad);
}

.header__mobile-menu_button::before {
    content: "";
    position: absolute;
    top: 4px;
    right: 15px;
    display: block;
    width: 14px;
    height: 14px;
    box-sizing: border-box;
    border-right: 3px solid #8fa151;
    border-bottom: 3px solid #8fa151;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.header__button-menu_toggle::before {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    border-bottom: 3px solid #1ac4e0;
    border-right: 3px solid #1ac4e0;
    top: 10px;
}

.header__mobile-menu_button_toggle {
    border-radius: 5px;
    color: #fff;
    background: linear-gradient(to top left, white, #005FA3);
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.header__mobile-menu_address {
    display: none;
}

/* --- конец стилей для меню на устройствах с разрешением меньшн 768px --- */



/* --- Начало стилей для основного контента сайта --- */
.content .container {
    background: #fff;
    margin-bottom: 110px;
}

.content .col-4:first-child {
    padding-left: 0;
    flex: 0 0 32.905983%;
    max-width: 32.905983%;
}

.content .col-4:nth-child(2) {
    flex: 0 0 34.188034%;
    max-width: 34.188034%;
}

.content .col-4:last-child {
    padding-right: 0;
    flex: 0 0 32.905983%;
    max-width: 32.905983%;
}

.content__users .col-4:first-child {
    padding-right: 15px;
}

.content__zag {
    font-weight: bold;
    line-height: 59px;
    font-size: 36px;
    letter-spacing: 0.05em;
    color: #005FA3;
    margin-top: 55px;
}

.content__users table td,
.content__users table th {
    border: 1px solid #000;
    box-sizing: border-box;
    height: 40px;
}

.content__users table {
    width: 100%;
    line-height: 26px;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #000;
}

.content__users table tr:nth-child(odd) {
    background: #E1F8FF;
}

.content__users table tr:first-child {
    background: #9DD6FF;
}

.content__users table tr td:first-child,
.content__users table tr th:first-child {
    width: 7.2%;
    text-align: center;
}

.content__users table tr td:last-child,
.content__users table tr th:last-child {
    width: 15.4%;
    text-align: center;
}

.content__users table tr td:nth-child(2),
.content__users table tr th:nth-child(2) {
    padding-left: 21px;
}

.content__table-users_edit {
    display: block;
    width: 28px;
    height: 22px;
    background: url(../images/edit.png) no-repeat;
    float: left;
    margin-left: 31%;
}

.content__table-users_last-column a {
    text-decoration: none;
}

.content__table-users_last-column {
    position: relative;
}

.content__table-users_delete {
    display: inline-block;
    width: 26px;
    height: 30px;
    color: #EA0000;
    font-size: 55px;
    line-height: 30px;
    position: absolute;
    top: 2px;
    right: 31%;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    text-decoration: none;
}

.content__table-users_delete:hover {
    color: #EA0000;
}

.content__users p {
    font-weight: bold;
    line-height: 43px;
    font-size: 26px;
    letter-spacing: 0.05em;
    color: #000;
    margin-top: 33px;
}

.content__input,
.content__users_add,
.saving-of-chenges {
    width: 100%;
    height: 50px;
    background: #fff;
    border: 2px solid #005FA3;
    box-sizing: border-box;
    display: block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 20px;
    color: #005FA3;
    padding-left: 6%;
}

.content__input:hover,
.content__users_add:hover,
.saving-of-chenges:hover {
    border-color: #1ac4e0;
    border-radius: 5px;
    cursor: pointer;
}

.content__users_add,
.saving-of-chenges {
    font-weight: bold;
    line-height: 41px;
    font-size: 25px;
    letter-spacing: 0.05em;
    color: #005FA3;
    padding: 0;
    margin: 52px 0 42px 0;
}

.content__users_add {
    margin-bottom: 22px;
}

.adduser__text-successfully {
    display: block;
    height: 20px;
    width: 100%;
    font-weight: 20px;
    color: #005FA3;
    text-align: center;
}

.adduser__text-successfully div {
    display: none;
}

.content__users_add:hover,
.saving-of-chenges:hover {
    opacity: 0.8;
    background: linear-gradient(to top, powderblue, pink, powderblue);
}

.content form label,
.content__calc-setting p {
    line-height: 36px;
    font-size: 22px;
    letter-spacing: 0.05em;
    color: #000;
    display: block;
    margin: 15px 0 0 0;
}

.content__calc-setting p {
    margin: 15px 0;
}

.content input::-webkit-input-placeholder {
    font-size: 20px;
    color: #005FA3;
}

.content input::-moz-placeholder {
    font-size: 20px;
    color: #005FA3;
}

/* Firefox 19+ */
.content input:-moz-placeholder {
    font-size: 20px;
    color: #005FA3;
}

.content input:-ms-input-placeholder {
    font-size: 20px;
    color: #005FA3;
}

.content__calc-setting_color-options {
    font-size: 22px;
    color: #005FA3;
    display: block;

}

.content__calc-setting_color-options a,
.content__add-new-color a,
.content__applications table tr td a {
    text-decoration: none;
    color: #EA0000;
    font-size: 35px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    line-height: 0.5em;
    vertical-align: sub;
    margin-left: 6px;
}

.content__calc-setting_color-options a:hover,
.content__table-users_last-column a:hover,
.content__applications table tr td a:hover {
    color: #7A1010;
}

.content__add-new-color {
    margin-top: 15px;
    font-weight: bold;
    line-height: normal;
    font-size: 20px;
    color: #005FA3;
}

.content__add-new-color a {
    color: #039F00;
    vertical-align: sub;
    font-weight: lighter;
    margin-left: 3px;
}

.content__add-new-color a:hover {
    color: #639F00;
}

.content__add-new-color span:hover {
    cursor: pointer;
}

.saving-of-chenges {
    margin: 30px 0 42px 0;
}

.content__applications table {
    width: 100%;
    line-height: 26px;
    font-size: 14px;
    letter-spacing: 0.05em;
    color: #000;
    text-align: center;
}

.content__applications table td,
.content__applications table th {
    border: 1px solid #000;
    box-sizing: border-box;
}

.content__applications table td {
    padding: 5px 0;
    vertical-align: top;
}

.content__applications table tr:nth-child(odd) {
    background: #E1F8FF;
}

.content__applications table tr:first-child {
    background: #9DD6FF;
}

.content__applications table tr th:nth-child(5),
.content__applications table tr td:nth-child(5) {
    text-align: left;
    padding-left: 1%;
}

.content__applications table tr td a {
    font-size: 46px;
    line-height: 0.62em;
}

.content__applications table tr th:first-child,
.content__applications table tr td:first-child {
    padding: 5px 10px;
    font-size: 16px;
}

.content__applications table tr td:nth-child(2) {
    width: 11.8%;
}

/* --- Начало стилей для модального окна изменения информации о пользователях --- */
.modal__window {
    width: 500px;
    height: 333px;
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: none;
    opacity: 0;
    z-index: 4;
    text-align: center;
    border-radius: 6px;
}

.modal__window_close-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.modal__window_line1,
.modal__window_line2 {
    width: 40px;
    height: 4px;
    background: #005FA3;
    transform: rotate(135deg);
    position: absolute;
    top: 14px;
    left: 0;
}

.modal__window_line2 {
    transform: rotate(45deg);
}

.modal__window_line2:hover,
.modal__window_line1:hover,
.modal__window_close-wrapper:hover {
    cursor: pointer;
}

.modal__window_close {
    width: 40px;
    height: 35px;
    position: absolute;
    top: 12px;
    right: 9px;
    cursor: pointer;
    display: block;
}

.modal__window h2 {
    font-size: 24px;
    color: #005FA3;
    text-align: center;
    margin: 46px 0 0 0;
}

.modal__window form label {
    color: #005FA3;
    margin-top: 5px;
    width: 60%;
    display: block;
    margin: 0 auto;
    font-size: 18px;
}

.modal__window_login-user,
.modal__window_passwd-user,
.modal__window button {
    display: block;
    width: 74%;
    height: 40px;
    margin: 0 auto;
    font-weight: 18px;
    color: #005FA3;
    box-sizing: border-box;
    border: 2px solid #005FA3;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-align: center;
}

.modal__window_login-user:hover,
.modal__window_passwd-user:hover,
.modal__window button:hover {
    border-color: #1ac4e0;
    border-radius: 5px;
    cursor: pointer;
}

.editUser__text-successfully {
    display: block;
    height: 20px;
    width: 100%;
    font-weight: 20px;
    color: #005FA3;
    text-align: center;
    margin-top: 5px;
}

.modal__window button {
    display: inline-block;
    width: 28%;
    height: 35px;
    color: #005FA3;
    background: #fff;
    margin: 16px 6% 0 6%;
    
}

.modal__window .modal__window_button_apply:hover {
    opacity: 0.8;
    background: linear-gradient(to top, powderblue, pink, powderblue);
}

.modal__window button:first-child {
    padding-right: 24px;
}

 /* Пoдлoжкa */
.modal__window_overlay {
    z-index: 3;
    position: fixed;
    background: rgba(0, 52, 89, 0.8);
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

/* --- Конец стилей для основного контента сайта --- 

/* --- Начало стилей для модального окна добавления нового цвета --- */
.modal__window_add-color {
    width: 500px;
    height: 222px;
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: none;
    opacity: 0;
    z-index: 4;
    text-align: center;
    border-radius: 6px;
}

.modal__window_add-color-close-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.modal__window_add-color_line1,
.modal__window_add-color_line2 {
    width: 40px;
    height: 4px;
    background: #005FA3;
    transform: rotate(135deg);
    position: absolute;
    top: 14px;
    left: 0;
}

.modal__window_add-color_line2 {
    transform: rotate(45deg);
}

.modal__window_add-color_line1:hover,
.modal__window_add-color_line2:hover,
.modal__window_add-color_close-wrapper:hover {
    cursor: pointer;
}

.modal__window_add-color-close {
    width: 40px;
    height: 35px;
    position: absolute;
    top: 12px;
    right: 9px;
    cursor: pointer;
    display: block;
}

.modal__window_add-color .modal__window_add-color-label {
    color: #005FA3;
    font-weight: 18px;
    margin: 40px auto 6px;
    display: block;
    width: 60%;
    font-size: 24px;
}

.modal__window_add-color-name,
.modal__window_add-color-button_apply {
    display: block;
    width: 74%;
    height: 40px;
    margin: 0 auto;
    font-weight: 18px;
    color: #005FA3;
    box-sizing: border-box;
    border: 2px solid #005FA3;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-align: center;
}

.modal__window_add-color-name:hover,
.modal__window_add-color-button_apply:hover {
    border-color: #1ac4e0;
    border-radius: 5px;
    cursor: pointer;
}

.addColor__text-successfully {
    display: block;
    height: 20px;
    width: 100%;
    font-weight: 20px;
    color: #005FA3;
    text-align: center;
    margin-top: 5px;
}

.modal__window_add-color-button_apply {
    display: inline-block;
    width: 33%;
    height: 35px;
    color: #005FA3;
    background: #fff;
    margin: 16px 6% 0 6%;
    
}

.modal__window_add-color .modal__window_add-color-button_apply:hover {
    opacity: 0.8;
    background: linear-gradient(to top, powderblue, pink, powderblue);
}

/* Пoдлoжкa */
.modal__window_add-color-overlay {
    z-index: 3;
    position: fixed;
    background: rgba(0, 52, 89, 0.8);
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}
/* --- Конец стилей для модального окна добавления нового цвета --- */
/* --- Конец стилей для основного контента сайта --- */



/* --- Начало стилей для футера сайта --- */
.footer {
    background: #005FA3;
}

.footer .container {
    padding: 0;
}

.footer__top {
    padding-bottom: 33px;
}

.footer__down {
    border-top: 2px solid #FFFFFF;
}

.footer h4 {
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 30px;
}

.footer__construct {
    margin-top: 42px;
}

.footer li a {
    font-weight: normal;
    line-height: 25px;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    transition: all 0.45s;
}

.footer li a:hover {
    color: #1ac4e0;
}

.footer__image-bird {
    display: block;
    background: url(../images/bird.png);
    height: 35px;
    width: 29px;
    margin: 42px 0 0 10%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.footer__image-bird:hover {
    transform: rotate(24deg);
}

.footer__image-bird a {
    display: block;
    width: 100%;
    height: 100%;
}

.footer__col_5-element .footer__ukon {
    font-style: italic;
    font-weight: bold;
    line-height: 20px;
    font-size: 40px;
    color: #FFFFFF;
    margin: 7px 0 0 0;
    display: inline-block;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.footer__col_5-element .footer__ukon span {
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 0px;
    display: inline-block;
}

.footer__col_5-element .footer__ukon:hover {
    color: #1ac4e0;
    text-shadow: -5px -5px 0px #EF7657;
    background: radial-gradient(#9DA8A9 1px, transparent 1px);
    background-size: 4px 4px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    z-index: 1;
}

.footer__col_5-element {
    padding-left: 6px;
    padding-right: 6px;
}

.footer__button-menu::before {
    content: "";
    position: absolute;
    top: 42px;
    right: 33px;
    display: none;
    width: 14px;
    height: 14px;
    box-sizing: border-box;
    border-right: 3px solid #8fa151;
    border-bottom: 3px solid #8fa151;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.footer__button-menu_toggle::before {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    border-bottom: 3px solid #1ac4e0;
    border-right: 3px solid #1ac4e0;
    top: 48px;
}

.header__mobile-menu_button_toggle {
    border-radius: 5px;
    background: linear-gradient(to top left, #3186b3, #72bbe1);
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.footer__col_5-element li address,
.footer__col_5-element li a {
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    font-size: 18px;
    color: #FFFFFF;
    margin: 0;
}

.footer__col_5-element li a {
    margin-top: -12px;
}

.footer__col_5-element li {
    margin-bottom: 10px;
}

.footer__down .footer__col_1-element {
    text-align: right;
}

.footer__down .footer__col_1-element a {
    display: inline-block;
    font-weight: bold;
    line-height: normal;
    font-size: 15px;
    color: #FFFFFF;
    margin: 20px 0;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.footer__down .footer__col_1-element a:hover,
.footer__col_5-element li a:hover {
    color: #1ac4e0;
}

.footer__down .footer__col_5-element li a {
    display: block;
    text-decoration-line: underline;
    margin: 24px 0;
}

.footer__down .footer__col_5-element li a {
    font-size: 12px;
}

.footer__down .footer__col_5-element li a:hover {
    text-decoration-line: none;
    color: #1ac4e0;
}

/* --- конец стилей для футера сайта --- */
